:root
{
    --bcg-color: skyblue;
    --primary-color: rgb(50, 81, 205);
    --border-radius: 50px;
    --secondary-color: #fff;
    --border-color: skyblue;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body
{
    width: 100%;
    height: 100vh;
    background: url(Untitled.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box
{
    background-color: var(--primary-color);
    padding: 28px;
    width: 400px;
    border-radius: var(--border-radius);
}
.qr-header h1
{
    font-size: 27px;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.qr-header input
{
    width: 100%;
    margin-block: 15px;
}
.qr-header input, select
{
    padding: 8px;
    border-radius: var(--border-radius);
    font-size: 18px;
    border: 2px solid var(--border-color);
    outline: none;
}
.qr-header label
{
    color: var(--secondary-color);
    font-size: 18px;
}
.qr-header div
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.qr-footer
{
    display: flex;
    justify-content: center;
}
.qr-footer a
{
    background-color: var(--secondary-color);
    text-decoration: none;
    font-size: 18px;
    padding: 14px 36px;
    margin-inline: 2px;
    border-radius: var(--border-radius);
    color: var(--primary-color);
    font-weight: 700;
}
.qr-body
{
    display: grid;
    place-items: center;
    padding: 20px;
}
.qr-body img
{
    max-width: 100%;
    max-height: 100%;
    margin-block: 10px;
    padding: 20px;
    border-radius: var(--border-radius);
    border: 0.5px solid var(--border-color);
}
@media screen and(max-width:520px)
{
    .box{
        width: 80%;
        }
    .qr-footer a
    {
        font-size: 16px;
        padding: 12px;
    }
}